<%- include ../templates/header.ejs %>
<script type="text/babel" src="/js/room.js"></script>
    <div class="container" id="container">

        <script type="text/babel">
            ReactDOM.render(<window.MainWindow room={<%- JSON.stringify(room) %>} username={<%- JSON.stringify(username) %>}/>, document.getElementById("container"));
        </script>
    </div>
<%- include ../templates/footer.ejs %>
