<%- include ../templates/header.ejs %>
<script type="text/babel" src="/js/rooms.js"></script>
    <div class="container" id="container">

        <script type="text/babel">
            ReactDOM.render(<window.MainWindow rooms={<%- JSON.stringify(rooms) %>}/>, document.getElementById("container"));
        </script>
    </div>
<%- include ../templates/footer.ejs %>
